.eror{
    
    background-size: cover;
    height: 500px;
    background-color: white;
    background-repeat: no-repeat;
    width: 500px;
    margin: auto;
    margin-top: 70px;
    background-image: url(https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?w=2000);
}